USE [master]
GO
/****** Object:  Database [RESTAURANT]    Script Date: 16/06/2020 11:42:10 ******/
CREATE DATABASE [RESTAURANT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RESTAURANT', FILENAME = N'E:\Database\RESTAURANT.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RESTAURANT_log', FILENAME = N'E:\Database\RESTAURANT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RESTAURANT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RESTAURANT]
GO
/****** Object:  Table [dbo].[TCATEGORIES]    Script Date: 16/06/2020 11:42:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCATEGORIES](
	[IdCategorie] [int] IDENTITY(1,1) NOT NULL,
	[Categorie] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_TCATEGORIES] PRIMARY KEY CLUSTERED 
(
	[IdCategorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TCLIENTS]    Script Date: 16/06/2020 11:42:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCLIENTS](
	[IdClient] [int] IDENTITY(1,1) NOT NULL,
	[NomClient] [nvarchar](30) NOT NULL,
	[PrenomClient] [nvarchar](30) NOT NULL,
	[AdresseClient] [nvarchar](100) NOT NULL,
	[CodePostalClient] [nvarchar](10) NOT NULL,
	[VilleClient] [nvarchar](30) NOT NULL,
	[TelClient] [nvarchar](16) NOT NULL,
	[EmailClient] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TCLIENTS] PRIMARY KEY CLUSTERED 
(
	[IdClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TCOMMANDES]    Script Date: 16/06/2020 11:42:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCOMMANDES](
	[IdCommande] [int] IDENTITY(1,1) NOT NULL,
	[IdFacture] [int] NOT NULL,
	[IdMenu] [int] NOT NULL,
	[Qt] [int] NOT NULL,
 CONSTRAINT [PK_TCOMMANDES] PRIMARY KEY CLUSTERED 
(
	[IdCommande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TFACTURES]    Script Date: 16/06/2020 11:42:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TFACTURES](
	[IdFacture] [int] IDENTITY(1,1) NOT NULL,
	[IdClient] [int] NOT NULL,
	[DateFacturation] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_TFACTURES] PRIMARY KEY CLUSTERED 
(
	[IdFacture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TMENUS]    Script Date: 16/06/2020 11:42:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMENUS](
	[IdMenu] [int] IDENTITY(1,1) NOT NULL,
	[Menu] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_TMENUS] PRIMARY KEY CLUSTERED 
(
	[IdMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TPLATS]    Script Date: 16/06/2020 11:42:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPLATS](
	[IdPlat] [int] IDENTITY(1,1) NOT NULL,
	[IdCategorie] [int] NOT NULL,
	[Plat] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[Prix] [float] NOT NULL,
	[Livrable] [bit] NOT NULL,
 CONSTRAINT [PK_TPLATS] PRIMARY KEY CLUSTERED 
(
	[IdPlat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TPLATS_MENUS]    Script Date: 16/06/2020 11:42:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPLATS_MENUS](
	[IdMenu] [int] NOT NULL,
	[IdPlat] [int] NOT NULL,
	[Qt] [int] NOT NULL,
	[Remise] [float] NOT NULL,
 CONSTRAINT [PK_TPLATS_MENUS] PRIMARY KEY CLUSTERED 
(
	[IdMenu] ASC,
	[IdPlat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TCATEGORIES]    Script Date: 16/06/2020 11:42:11 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TCATEGORIES] ON [dbo].[TCATEGORIES]
(
	[Categorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TCLIENTS]    Script Date: 16/06/2020 11:42:11 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TCLIENTS] ON [dbo].[TCLIENTS]
(
	[TelClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TCLIENTS_1]    Script Date: 16/06/2020 11:42:11 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TCLIENTS_1] ON [dbo].[TCLIENTS]
(
	[EmailClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TMENUS]    Script Date: 16/06/2020 11:42:11 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TMENUS] ON [dbo].[TMENUS]
(
	[Menu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TPLATS]    Script Date: 16/06/2020 11:42:11 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TPLATS] ON [dbo].[TPLATS]
(
	[Plat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TFACTURES] ADD  CONSTRAINT [DF_TFACTURES_DateFacturation]  DEFAULT (getdate()) FOR [DateFacturation]
GO
ALTER TABLE [dbo].[TMENUS] ADD  CONSTRAINT [DF_TMENUS_Description]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[TPLATS] ADD  CONSTRAINT [DF_TPLATS_Description]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[TPLATS] ADD  CONSTRAINT [DF_TPLATS_Livrable]  DEFAULT ((1)) FOR [Livrable]
GO
ALTER TABLE [dbo].[TPLATS_MENUS] ADD  CONSTRAINT [DF_TPLATS_MENUS_Remise]  DEFAULT ((0)) FOR [Remise]
GO
ALTER TABLE [dbo].[TCOMMANDES]  WITH CHECK ADD  CONSTRAINT [FK_TCOMMANDES_TFACTURES] FOREIGN KEY([IdFacture])
REFERENCES [dbo].[TFACTURES] ([IdFacture])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TCOMMANDES] CHECK CONSTRAINT [FK_TCOMMANDES_TFACTURES]
GO
ALTER TABLE [dbo].[TCOMMANDES]  WITH CHECK ADD  CONSTRAINT [FK_TCOMMANDES_TMENUS] FOREIGN KEY([IdMenu])
REFERENCES [dbo].[TMENUS] ([IdMenu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TCOMMANDES] CHECK CONSTRAINT [FK_TCOMMANDES_TMENUS]
GO
ALTER TABLE [dbo].[TFACTURES]  WITH CHECK ADD  CONSTRAINT [FK_TFACTURES_TCLIENTS] FOREIGN KEY([IdClient])
REFERENCES [dbo].[TCLIENTS] ([IdClient])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TFACTURES] CHECK CONSTRAINT [FK_TFACTURES_TCLIENTS]
GO
ALTER TABLE [dbo].[TPLATS]  WITH CHECK ADD  CONSTRAINT [FK_TPLATS_TCATEGORIES] FOREIGN KEY([IdCategorie])
REFERENCES [dbo].[TCATEGORIES] ([IdCategorie])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TPLATS] CHECK CONSTRAINT [FK_TPLATS_TCATEGORIES]
GO
ALTER TABLE [dbo].[TPLATS_MENUS]  WITH CHECK ADD  CONSTRAINT [FK_TPLATS_MENUS_TMENUS] FOREIGN KEY([IdMenu])
REFERENCES [dbo].[TMENUS] ([IdMenu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TPLATS_MENUS] CHECK CONSTRAINT [FK_TPLATS_MENUS_TMENUS]
GO
ALTER TABLE [dbo].[TPLATS_MENUS]  WITH CHECK ADD  CONSTRAINT [FK_TPLATS_MENUS_TPLATS] FOREIGN KEY([IdPlat])
REFERENCES [dbo].[TPLATS] ([IdPlat])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TPLATS_MENUS] CHECK CONSTRAINT [FK_TPLATS_MENUS_TPLATS]
GO
USE [master]
GO
